<!DOCTYPE html>
<html>
<head>
  <title>Wejoin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script language="javascript" src="http://webapi.amap.com/maps?v=1.2&key=dacc05a912ef938bd56c503bb7affb66"></script>
</head>
<body>

<%= yield %>

</body>
</html>
